$red-0: rgb(241, 26, 26);

$red-bg-0: rgba(255, 0, 0, 0.2);

$blue-0: rgb(14, 117, 220);
$blue-1: rgb(9, 88, 168);
$blue-2: rgb(6, 44, 81);

$blue-bg-0: rgba(30, 143, 255, 0.2);
$blue-bg-1: rgba(25, 125, 225, 0.4);
$blue-bg-2: rgba(30, 143, 255, 0.6);

$bg-1: rgba(0, 0, 0, 0.08);
$bg-2: rgba(0, 0, 0, 0.08);

$shadow-color-0: rgba(0, 0, 0, 0.1);
$shadow-color-1: rgba(0, 0, 0, 0.2);
$shadow-color-2: rgba(0, 0, 0, 0.4);